@import url("./root.css");

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

header {
  background-color: var(--popover);
  background-image: var(--diagonal);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  margin-bottom: 30px;
}
header li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
}
header a {
  text-decoration: none;
  color: var(--foreground);
  font-weight: bold;
}
header li > a:hover {
  color: var(--primary);
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  row-gap: 2rem;
}
main section {
  display: flex;
  flex-direction: row;
}

main aside {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: flex-end;
}
main aside button {
  cursor: pointer;
  width: 50%;
  height: 50%;
}
main aside img {
  border-radius: var(--radius);
}
