:root {
  --background: rgba(38, 38, 38, 1);
  --foreground: rgba(242, 242, 242, 1);
  --muted: rgba(46, 46, 46, 1);
  --muted-foreground: rgba(153, 153, 153, 1);
  --popover: rgba(31, 31, 31, 1);
  --popover-foreground: rgba(255, 255, 255, 1);
  --card: rgba(33, 33, 33, 1);
  --card-foreground: rgba(255, 255, 255, 1);
  --border: rgba(51, 51, 51, 1);
  --input: rgba(59, 59, 59, 1);
  --primary: rgba(242, 76, 76, 1);
  --primary-foreground: rgba(255, 255, 255, 1);
  --secondary: rgba(204, 153, 153, 1);
  --secondary-foreground: rgba(38, 38, 38, 1);
  --accent: rgba(77, 77, 77, 1);
  --accent-foreground: rgba(230, 230, 230, 1);
  --destructive: rgba(204, 0, 0, 1);
  --destructive-foreground: rgba(255, 255, 255, 1);
  --ring: rgba(242, 76, 76, 1);
  --chart-1: rgba(242, 76, 76, 1);
  --chart-2: rgba(204, 153, 153, 1);
  --chart-3: rgba(77, 77, 77, 1);
  --chart-4: rgba(204, 153, 199, 1);
  --chart-5: rgba(242, 76, 76, 1);
  --radius: 0.5rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

header {
  background-color: var(--popover);
  background-image: linear-gradient(
    -45deg,

    /* Diagonal */ /* Gestions des diagonales du bas gauche */
      rgba(242, 76, 76, 1),
    rgba(255, 255, 255, 0.05) 1px,
    transparent 10px,
    transparent 20px,
    rgba(242, 76, 76, 1) 20px,
    rgba(255, 255, 255, 0.05) 21px,
    transparent 30px,
    transparent 700px,

    rgba(242, 76, 76, 1) 700px /* Diagonales du haut gauche  */,
    rgba(255, 255, 255, 0.05) 701px,
    transparent 710px,
    transparent 720px,
    rgba(242, 76, 76, 1) 720px,
    rgba(255, 255, 255, 0.05) 721px,
    transparent 710px,
    transparent 720px
  );
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  margin-bottom: 30px;
}
header li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
}
header a {
  text-decoration: none;
  color: var(--foreground);
  font-weight: bold;
}
header li > a:hover {
  color: var(--primary);
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}
main section {
  display: flex;
  flex-direction: row;
}

main aside {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: flex-end;
}
main aside button {
  cursor: pointer;
  width: 50%;
  height: 50%;
}
main aside img {
  border-radius: var(--radius);
}
