:root {
  --background: rgba(23, 23, 28, 1);
  --foreground: rgba(163, 173, 208, 1);
  --muted: rgba(39, 42, 54, 1);
  --muted-foreground: rgba(112, 116, 139, 1);
  --popover: rgba(28, 30, 39, 1);
  --popover-foreground: rgba(115, 122, 150, 1);
  --card: rgba(28, 30, 39, 1);
  --card-foreground: rgba(163, 173, 208, 1);
  --border: rgba(69, 74, 95, 1);
  --input: rgba(31, 34, 44, 1);
  --primary: rgba(138, 163, 255, 1);
  --primary-foreground: rgba(28, 30, 39, 1);
  --secondary: rgb(31, 1, 1);
  --secondary-foreground: rgba(51, 51, 51, 1);
  --accent: rgba(79, 96, 176, 1);
  --accent-foreground: rgba(244, 247, 250, 1);
  --destructive: rgba(79, 96, 176, 1);
  --destructive-foreground: rgba(244, 247, 250, 1);
  --ring: rgba(138, 163, 255, 1);
  --chart-1: rgba(138, 163, 255, 1);
  --chart-2: rgba(211, 211, 211, 1);
  --chart-3: rgba(79, 96, 176, 1);
  --chart-4: rgba(218, 218, 218, 1);
  --chart-5: rgba(138, 163, 255, 1);
  --radius: 0.5rem;
  --diagonal: linear-gradient(
      135deg,
      transparent 0px,
      transparent 10px,
      var(--primary) 10px,
      rgba(255, 255, 255, 0.05) 11px,
      transparent 20px,
      var(--primary) 20px,
      rgba(255, 255, 255, 0.05) 21px,
      transparent 30px,
      transparent 40px
    ),
    linear-gradient(
      315deg,
      transparent 0px,
      transparent 10px,
      var(--primary) 10px,
      rgba(255, 255, 255, 0.05) 11px,
      transparent 20px,
      var(--primary) 20px,
      rgba(255, 255, 255, 0.05) 21px,
      transparent 30px,
      transparent 40px
    );
  --diagonal-oppose: linear-gradient(
      -135deg,
      transparent 0px,
      transparent 10px,
      var(--primary) 10px,
      rgba(255, 255, 255, 0.05) 11px,
      transparent 20px,
      var(--primary) 20px,
      rgba(255, 255, 255, 0.05) 21px,
      transparent 30px,
      transparent 40px
    ),
    linear-gradient(
      45deg,
      transparent 0px,
      transparent 10px,
      var(--primary) 10px,
      rgba(255, 255, 255, 0.05) 11px,
      transparent 20px,
      var(--primary) 20px,
      rgba(255, 255, 255, 0.05) 21px,
      transparent 30px,
      transparent 40px
    );

  --comp1: rgba(242, 76, 76, 1);
  --comp2: rgba(240, 117, 11, 1);
  --comp4: rgba(11, 189, 0, 1);
  --comp3: rgba(252, 197, 6, 1);
  --comp5: rgba(34, 76, 135, 1);
  --comp6: black;

  --transition-default: all 0.2s ease-in-out;
  --shadow-hover: 2px 2px 1.5px rgba(0, 0, 0, 0.7);
}
